
{{ form_start(form) }}
{# <div class='col-8'>
    {{ form_widget(form ) }}
</div> #}

<div class='row'>
<div class='col-6 '>
    {{ form_row(form.name) }}
</div>

<div class='col-6'>
    {{ form_row(form.url) }}
</div>


    <button class="btn btn-primary btn-sm mx-auto">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
